@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.container {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.content {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

body {
  background: #F1F1F1; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #F1F1F1, #F1F1F1);
  background: -moz-linear-gradient(right, #F1F1F1, #F1F1F1);
  background: -o-linear-gradient(right, #F1F1F1, #F1F1F1);
  background: linear-gradient(to left, #F1F1F1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}